*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    background-color: #1E1F21;
    height: 2rem;
    border-bottom: 1px solid #ccc;
}
.nav a {
    text-decoration: none;
    
}
.nav .btn{
    color: #ccc;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom:.8rem;
    margin-left: 1rem;
}
.nav .btn:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
.nav .selected{
    color: #4573D2;
    list-style: none;
    border-bottom: 1px solid #4573D2;
    padding-bottom:.8rem;
    margin-left: 1rem;
}
