*{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    background-color: #1E1F21;
    height: 2rem;
    justify-content: space-around;
}
.nav a {
    text-decoration: none;
    
}
.nav li{
    color: #ccc;
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding-bottom:.8rem;
}
.nav li:hover{
    color: rgb(241, 241, 241);
    border-bottom: 1px solid rgb(241, 241, 241);
}
