.taskCard{
  border: 1px solid #ccc;
  border-radius:1rem;
  margin: 0.5rem;
  padding: 0.5rem;
}
.taskLink{
  text-decoration: none;
  color:#ccc;
}
.taskCard:hover{
  border-color:white;
}
.priority{
  color:#ccc;
  font-size: 1rem;
}
.high{
  color:red;
  font-size: 1rem;
  
}
.low{
  color:green;
  font-size: 1rem;
}
.mid{
  color:yellow;
  font-size: 1rem;
}