.viewBody{
    background-color: #252628;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
}
.viewCard{
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
    
}