
.DeleteCard{
    background-color: #252628;
    color: #fff;
    display:flex;
    justify-content:center;
    align-items:center;
    height: 90vh;
    
}
.modal{
    margin: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;   
}
button{
    background-color: #252628;
    color: #fff; 
    margin: 1rem;
}
button:hover{
    background-color:#fff ;
    color: #252628; 
}